header, footer{	margin: 0;
	padding: 0;
	border: 0;
	outline: 0

}
header{	background-color:#1d1d1d;
	color:#fff;
	height:45px;
	font-size:35px;
	position:fixed;
	z-index:1000;
	display: block;
	width:inherit;
	box-shadow: 0px 0px 20px 0px #000;
	background-color: rgba(0, 0, 0, .4);
	
	
}
#mainsearch{
	
	background-color:rgba(0, 0, 0, 0);
	border:1px solid rgba(0, 0, 0, .4);
	width:30%;	
    position:absolute;    
	top:7px;       
	border-radius:10px;
	height:20px;
	 
}
input[placeholder] {  
    color: green;  
}
#mainsearch:focus{

		
	background-color:rgba(255, 255, 255, 1); 
}
#mainsearch:hover{
	
	background-color:rgba(255, 255, 255, 0.95); 
}

footer{	
	color:#fff;
	height:35px;
	font-size:18px;
	margin-top:40px;
	z-index:1000;
	display: block;
	width:inherit;
	padding:10px 0 0 0px;
	background-color: #d0d0d0;
	box-shadow: 0px 0px 5px 0px #000;
	color: #333;
	overflow:hidden;
	
}
.footerleft{
float:left;
padding:0 0 0 20px;
}
.footerright{
float:right;
padding:0 20px 0 0px;
}
@media screen and (max-width:800px){
.topnavrightitems{
	display:none;
}
}
@media screen and (max-width:600px){
.topslider{
	display:none;
}
.topnavshort{
	display:block;
	padding:10px 35% 0 0;
	text-align:center;
	cursor:pointer;
	font-size:25px;
	
	
}
.topnavbar{
	display:none;
}
.logo{
height:45px;
position:absolute;
top:-2px;

}
}

@media screen and (min-width:600px){

.logo{
height:45px;
position:absolute;
top:-2px;
left:20px;
}
.topnavshort{
	display:none;
}
.topnavbar{
	display:block;
	padding:10px 0 0 20px;
	cursor:pointer;
	font-size:25px;
	
}

}
#topnavtitle{
	visibility:hidden;
	float:left;
	padding: 0 20px 0 20px;
}
.topnavleftitems{
	float:left;
	padding: 0 12px ;
	color: rgba(255, 255, 255, 1);
	font-size: 15px;
	font-weight: 300;
	height: 45px;
}
.topnavleftitems:hover{
	color: rgba(255, 153, 0, 1);
	text-decoration: none;
}

.topnavrightitems{
	float:right;
	padding: 0 20px ;
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-weight: 300;
	height: 45px;
}
.topnavrightitems:hover{
	color: rgba(255, 255, 255, 1);
	text-decoration: underline;
}
.topnavleft a, .topnavright a{
	text-decoration: none;
}

